<!DOCTYPE html>
<html>
    <head>
        <title>Personal planner app</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="kanban-board">
            <div class="column">
                <h1> Inbox </h1>
                <div class="cards">
                    {% for item in inboxitems %}
                    <div class="inbox-card">
                        <div class="card-header">
                            <h2>{{ item.taskName }}</h2>
                          </div>
                          <div class="card-body">
                            <p>{{ item.taskNote }}.</p>
                          </div>
                          <div class="card-footer">
                            <p>Card footer content goes here.</p>
                          </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <h1> In progress </h1>
                <div class="cards">
                    {% for item in progressitems  %}
                    <div class="inbox-card">
                        <div class="card-header">
                            <h2>{{ item.taskName }}</h2>
                          </div>
                          <div class="card-body">
                            <p>{{ item.taskNote }}.</p>
                          </div>
                          <div class="card-footer">
                            <p>Card footer content goes here.</p>
                          </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <h1> Done </h1>
                <div class="cards">
                    {% for item in completeditems %}
                    <div class="inbox-card">
                        <div class="card-header">
                            <h2>{{ item.taskName }}</h2>
                          </div>
                          <div class="card-body">
                            <p>{{ item.taskNote }}.</p>
                          </div>
                          <div class="card-footer">
                            <p>Card footer content goes here.</p>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1> Hack Planner </h1>
            <ul class="checklist-items">
                {% for item in items %}
                <li>
                    {{ item }}
                    <a href="/edit/{{ item[0] }}">Edit</a>
                    <a href="/delete/{{ item[0] }}">Delete</a>
                    <button onclick="setReminder('{{ item[1] }}')">Remind</button>
                </li>
                {% endfor %}
            </ul>
            
            <form class="add-form" action="/add" method="post">
                <input type="text" name="item" placeholder="Enter item">
                <button type="Submit">Add</button>
            </form>
        </div>

        <script>
            function setReminder(item) {
                setTimeout(function() {
                    var reminder = confirm("Reminder: " + item);
                }, 5 * 1000);
            }
        </script>
    </body>
</html>